.footer{
    background: #515151;
    color: #FFFFFF;
}

.footer__inner{
    padding: 30px 140px ;
    display: flex;
    justify-content: space-between;
}

.footer__menu, .footer__contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.footer__menu-title, .footer__contacts-title{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 15px;
}

.footer__menu-item, .footer__contacts-item{
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}

.footer__inner_line{
    padding: 24px 140px;
    border-top: 1px solid rgba(179, 179, 179, 0.1);
}

.copyright{
    display: flex;
    gap: 200px;
}

.copyright__item{
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}

.copyright__item_orange{
    color: #F79C1B;
}